<h3>Point location</h3>
<table>
  <tr>
    <th style="padding-left:5px; padding-right:5px; text-align:center"><span class="heading">Lat</span></th>
    <th style="padding-left:5px; padding-right:5px; text-align:center"><span class="heading">Lon</span></th>
  </tr>
  <tr>
    <td style="padding-left:5px; padding-right:5px">
      {{ numberFormat(model.lastCoord.dd.y, 6) }}
    </td>
    <td style="padding-left:5px; padding-right:5px">
      {{ numberFormat(model.lastCoord.dd.x, 6) }}
    </td>
  </tr>
</table>
<ul class="tasks">
  <li><a href="#" class="js-zoomto zoomto">Center on this location</a></li>
  <li><a href="#" class="js-deletemarkup deletemarkup">Delete</a></li>
</ul>
